.portfolio {
    padding: 93px 0 145px;
}

.portfolio__title {
    margin-bottom: 86px;
}

.portfolio__title a {
    text-decoration: none;
}

.research {
    font-weight: normal;
    margin-bottom: 48px;
}

.portfolio-content {
    display: flex;
    justify-content: space-between;
}

.portfolio-content__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 125px;
}

.arrows {
    display: flex;
    width: 62px;
    height: 24px;
}

.left-arrow img, .right-arrow img{
    width: 24px;
    height: 24px;
}

.left-arrow {
    transform: rotate(180deg);
}

.portfolio-images {
    display: flex;
}

.portfolio-images__column-first {
    margin-right: 30px;
}

.portfolio-images__first {
    padding-bottom: 30px;
}

.portfolio-images__last {
    padding-top: 30px;
}

@media (max-width: 768px) {
    .portfolio {
        text-align: center;
    }
    .portfolio-content {
        flex-direction: column;
    }
    .arrows {
        display: none;
    }
}
