* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    color: #333333;
}

img {
 width: 100%;
 height: auto;
}

a {
    color: #333333;
}

a:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

.wrapped {
    max-width: 1110px;
    margin: 0 auto;
}

@media (max-width: 1250px) {
    .wrapped {
        margin: 0 25px;
    }
}
