.skills {
    background: #FFFAF2;
    padding: 93px 0 145px;
}

.skills__title {
    margin-bottom: 86px;
}

.picture {
    max-width: 350px;
    max-height: 340px;
}

.skills-content, .skills-desc {
    display: flex;
    justify-content: space-between;
}

.skills-desc {
    flex-direction: column;
}

.skills-desc__tools {
    display: flex;
    justify-content: space-between;
}

.tools, .progress {
    margin-left: 78px;
}

.progress {
    width: 446px;
    height: 24px;
    background-color: #F5D6AB;
}
.progress__value {
    width: 80%;
    height: 100%;
    background-color: #C66C49;
}

.tools {
    width: 446px;
}

@media (max-width: 768px) {
    .skills {
        text-align: center;
    }
    .skills-content {
        flex-direction: column;
    }
    .picture {
        align-self: center;
    }
}
