.about {
    line-height: 30px;
    padding: 93px 0;
}

.about__title {
    margin-bottom: 76px;
}

.about__text {
    margin-bottom: 25px;
    text-align: justify;
}

@media (max-width: 768px) {
    .about {
        text-align: center;
    }
}
