.footer {
    background: #FFFAF2;
    padding: 93px 0 189px;
}

.footer__title {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 51px;
}

.footer a {
    text-decoration: none;
}

.footer li, .mail {
    margin-bottom: 14px;
}

.footer-content {
    display: flex;
    margin-bottom: 95px;
}

.up-arrow {
    position: fixed;
    right: 18vw;
    bottom: 7vh;
    transform: rotate(-90deg);
}

.up-arrow:hover {
    transform: scale(1.2) rotate(-90deg);
}

.up-arrow img {
    width: 24px;
    height: 24px;
}

.footer-links {
    display: flex;
}

.footer-links__column {
    margin-right: 300px;
}

@media (max-width: 1024px) {
    .footer-links__column {
        margin-right: 150px;
    }
}
@media (max-width: 768px) {
    .footer {
        padding: 26px 0 50px;
    }
    .footer-content {
        flex-direction: column;
        margin-bottom: 0;
    }
    .footer-links {
        margin-bottom: 30px;
    }
    .footer-links__column {
        margin-right: 100px;
    }
}
@media (max-width: 375px) {
    .footer__title {
        text-align: center;
    }
}
