.footer {
    background: #FFFAF2;
    padding: 93px 0 189px;
}

.footer__title {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 51px;
}

.footer a {
    text-decoration: none;
}

.footer li, .mail {
    margin-bottom: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}

.up-arrow {
    position: fixed;
    right: 180px;
    bottom: 70px;
    transform: rotate(-90deg);
}

.up-arrow img {
    width: 24px;
    height: 24px;
}

.footer-links {
    display: flex;
    width: 40vw;
    justify-content: space-between;
}

.footer-links__column {
    /*display: flex;*/
}

@media (max-width: 768px) {
    .footer__title {
        text-align: center;
    }
    .footer-content {
        flex-direction: column;
        margin-bottom: 0;
    }
    .footer-links {
        margin-bottom: 30px;
    }
}
