.top-section {
    width: 100vw;
    height: 768px;
    background: url('../../images/bg.jpg') rgba(198, 108, 73, 0.3) center no-repeat;
    background-size: cover;
    color: white;
}

.top-section__title {
    font-size: 3.5rem;
    font-weight: normal;
    padding: 145px 0 26px 0;
}

.top-section__text {
    font-size: 1.3rem;
    padding-bottom: 106px;
}

.top-section a {
    color: white;
}

@media (max-width: 768px) {
    .top-section {
        text-align: center;
    }
}
